[Unit]
Description=Disk Usage Monitoring Service
RequiresMountsFor=/home/biosense
After=local-fs.target

[Service]
ExecStart=/usr/local/bin/manage-disk-space
Restart=on-failure
RestartSec=300
User=biosense

[Install]
WantedBy=multi-user.target
