[Unit]
Description=BirdNET Recording Service
RequiresMountsFor=/home/biosense/datastore/sounds_recordings
After=local-fs.target

[Service]
WorkingDirectory=/home/biosense/biosense_venv
ExecStart=/home/biosense/biosense_venv/bin/python3 /usr/local/bin/record-sound
Restart=on-failure
RestartSec=30
User=biosense

[Install]
WantedBy=multi-user.target
