[Unit]
Description=BirdNET Sound Analysis Service
RequiresMountsFor=/home/biosense/datastore/sound_recordings
After=local-fs.target

[Service]
EnvironmentFile=/etc/profile.d/geolocation.sh
WorkingDirectory=/home/biosense/biosense_venv
ExecStart=/home/biosense/biosense_venv/bin/python /usr/local/bin/run-birdnet
Restart=on-failure
RestartSec=300
User=biosense

[Install]
WantedBy=multi-user.target
