[Unit]
Description=BirdNET Sound Analysis Service
RequiresMountsFor=/home/biosense/datastore/sound_recordings
After=local-fs.target

[Service]
WorkingDirectory=/home/biosense/biosense_venv
ExecStart=/home/biosense/biosense_venv/bin/python3 /usr/local/bin/run-birdnet
Restart=on-failure
RestartSec=30
User=biosense

[Install]
WantedBy=multi-user.target
