[Unit]
Description=UPS Monitoring Service
After=local-fs.target

[Service]
ExecStart=/usr/local/bin/ups-monitor
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
