[Unit]
Description=Remove SSH Success File on Boot
Before=ssh-retry.service

[Service]
Type=oneshot
ExecStart=/bin/rm -f /var/lib/ssh-retry/ssh_success

[Install]
WantedBy=multi-user.target
