[Unit]
Description=Generate WireGuard keys if not present
Before=ssh-retry.service
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/wg-keygen.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
