[Unit]
Description=BirdNET Recording Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /usr/local/bin/record-and-analyze-sound
Restart=on-failure
RestartSec=900

[Install]
WantedBy=multi-user.target
