[Unit]
Description=UPS Monitoring Script for Raspberry Pi
After=network.target

[Service]
ExecStart=/usr/bin/python3 /usr/local/bin/shutdown_monitor
WorkingDirectory=/home/biosense
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
